<%# flash.each do |type, msg| %>
<%# if type=="alert"%>
  <%# <div class="alert alert-success">
    <%#= msg %>
  </div>
  <%#else%>
  <div class="alert alert-warning">
    <%#= msg %>
  </div> %>
  <%#end%>
<%# end %>
 
<% if @user.errors.any? %>    <%# check co loi khong any?%>
<div id="error_explanation">
<div class="alert alert-danger">
The form contains <%= pluralize(@user.errors.count, "error") %>.
</div>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
